# CS412 - Machine Learning - 2020

# Homework 2

100 pts

# Goal

The goal of this homework is to get familiar feature handling and cross validation.


# Dataset

German Credit Risk dataset, prepared by Prof. Hoffman, classifies each person as having a good or bad credit risk. The dataset that we use consists of both numerical and categorical features.



# Task

Build a k-NN classifier with scikit-learn library to classify people as bad or good risks for the german credit dataset. 

# Software

Documentation for the necessary functions can be accessed from the link below.

[http://scikit-learn.org/stable/supervised_learning.html](http://scikit-learn.org/stable/supervised_learning.html)

# Submission

Follow the instructions at the end.

# 1) Initialize

First, make a copy of this notebook in your drive

In [ ]:
# Mount to your drive, in this way you can reach files that are in your drive
# Run this cell
# Go through the link that will be showed below
# Select your google drive account and copy authorization code and paste here in output and press enter
# You can also follow the steps from that link
# https://medium.com/ml-book/simplest-way-to-open-files-from-google-drive-in-google-colab-fae14810674 

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 2) Load Dataset

To start working for your homework, take a copy of the folder, given in the below link to your own google drive. You find the train and test data under this folder.

[https://drive.google.com/drive/folders/1DbW6VxLKZv2oqFn9SwxAnVadmn1_nPXi?usp=sharing](https://drive.google.com/drive/folders/1DbW6VxLKZv2oqFn9SwxAnVadmn1_nPXi?usp=sharing)

After copy the folder, copy the path of the train and test dataset to paste them in the below cell to load your data.

In [ ]:
import pandas as pd

train_df = pd.read_csv('/content/drive/My Drive/data/Copy of german_credit_train.csv')
test_df = pd.read_csv('/content/drive/My Drive/data/Copy of german_credit_test.csv')

# 3) Optional - Analyze the Dataset 

You can use the functions of the pandas library to analyze your train dataset in detail - **this part is OPTIONAL - look around the data as you wish**.


*   Display the number of instances and features in the train ***(shape function can be used)**
*   Display 5 random examples from the train ***(sample function can be used)**
*   Display the information about each features ***(info method can be used)**

In [ ]:
# Print shape
print("Train data dimensionality: ", train_df.shape)

# Print random 5 rows
print("Examples from train data: ", train_df.head())

Train data dimensionality:  (800, 12)
Examples from train data:     AccountStatus  Duration CreditHistory  ...  Age  OtherInstallPlans  Housing
0              3        12           A32  ...   38               A143     A152
1              0         9           A32  ...   25               A143     A152
2              0        18             4  ...   36               A143     A153
3              0        14           A32  ...   45               A143     A152
4              3        15           A32  ...   40               A143     A152

[5 rows x 12 columns]

In [ ]:
# Print the information about the dataset
print("Information about train data ", train_df.info() )
train_df.head(800)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AccountStatus      800 non-null    int64
 1   Duration           800 non-null    int64
 2   CreditHistory      800 non-null    object
 3   CreditAmount       800 non-null    int64
 4   SavingsAccount     800 non-null    int64
 5   EmploymentSince    800 non-null    int64
 6   PercentOfIncome    800 non-null    int64
 7   PersonalStatus     800 non-null    object
 8   Property           800 non-null    object
 9   Age                800 non-null    int64
 10  OtherInstallPlans  800 non-null    object
 11  Housing            800 non-null    object
dtypes: int64(7), object(5)
memory usage: 75.1+ KB
Information about train data  None

     AccountStatus  Duration CreditHistory  ...  Age  OtherInstallPlans  Housing
0                3        12           A32  ...   38               A143     A152
1                0         9           A32  ...   25               A143     A152
2                0        18             4  ...   36               A143     A153
3                0        14           A32  ...   45               A143     A152
4                3        15           A32  ...   40               A143     A152
..             ...       ...           ...  ...  ...                ...      ...
795              1         9           A32  ...   67               A143     A152
796              3        12             4  ...   26               A143     A152
797              1        36           A32  ...   57               A143     A153
798              1        12           A32  ...   22               A143     A152
799              2         9           A32  ...   28               A143     A152

[800 rows x 12 columns]

# 4) Define your train and test labels

*  Define labels for both train and test data in new arrays 
*  And remove the label column from both train and test sets do tht it is not used as a feature! 


(**you can use pop method**)

In [ ]:
# Define labels
train_label = train_df.pop('Risk')
test_label = test_df.pop('Risk')

# 5) Handle missing values if any 

*   Print the columns that have **NaN** values (**isnull** method can be used)
*   You can impute missing values with mode of that feature or remove samples or attributes
*   To impute the test set, you should use the mode values that you obtain from **train** set, as **you should not be looking at your test data to gain any information or advantage.**

In [ ]:
# Print columns with NaN values


print(train_df.loc[:, train_df.isna().any()])

print("NaN value percentage in Housing : %", train_df['Housing'].isnull().sum() / len(train_df)*100)

    Housing
0      A152
1      A152
2      A153
3      A152
4      A152
..      ...
795     NaN
796     NaN
797    A153
798    A152
799    A152

[800 rows x 1 columns]
NaN value percentage in Housing : % 10.0

In [ ]:
# Impute missing values by replacing with mode value

train_df['Housing'].mode()[0]

train_df['Housing'] = train_df['Housing'].fillna(train_df['Housing'].mode()[0])

test_df['Housing'].mode()[0]

test_df['Housing'] = test_df['Housing'].fillna(test_df['Housing'].mode()[0])

train_df.head()

print("NaN value percentage in Housing : %", train_df['Housing'].isnull().sum() / len(train_df)*100)

NaN value percentage in Housing : % 0.0

# 6) Transform categorical / ordinal features

* Transform all categorical / ordinal features using the methods that you have learnt in lectures and recitation 4 for both train and test data
* You saw the dictionary use for mapping in recitation. (You can use **replace function** to assign new values to the categories of a column).

*  The class of the categorical attributes in the dataset are defined as follows:
  - Status of existing checking account
     - A11 :      ... <    0 DM
	- A12 : 0 <= ... <  200 DM
	- A13 :      ... >= 200 DM / salary assignments for at least 1 year
     - A14 : no checking account

 - Credit history
    - A30 : no credits taken/all credits paid back duly
    - A31 : all credits at this bank paid back duly
	- A32 : existing credits paid back duly till now
    - A33 : delay in paying off in the past
	- A34 : critical account/other credits existing (not at this bank)

  - Savings account
    - A61 :          ... <  100 DM
	- A62 :   100 <= ... <  500 DM
	- A63 :   500 <= ... < 1000 DM
	- A64 :          .. >= 1000 DM
    - A65 :   unknown/ no savings account

 - Employment Since
    - A71 : unemployed
    - A72 :       ... < 1 year
	- A73 : 1  <= ... < 4 years  
	- A74 : 4  <= ... < 7 years
	- A75 :       .. >= 7 years
 
 - Personal Status
    - A91 : male   : divorced/separated
	- A92 : female : divorced/separated/married
    - A93 : male   : single
	- A94 : male   : married/widowed
	- A95 : female : single

  - Property
     -  A121 : real estate
	- A122 : if not A121 : building society savings agreement/life insurance
    - A123 : if not A121/A122 : car or other, not in attribute 6
	- A124 : unknown / no property

 - OtherInstallPlans  
    - A141 : bank
	- A142 : stores
	- A143 : none

 - Housing
    -  A151 : rent
	 - A152 : own
	- A153 : for free

In [ ]:
import numpy as np
# Transform the categorical / ordinal attributes
for col in train_df.select_dtypes('object'):
  print(col, train_df[col].unique())

account_status_map = {'A11':0,'A12':1,'A13':2,'A14':3}
train_df['AccountStatus'] = train_df['AccountStatus'].replace(account_status_map)

credit_history_map = {'A30':0,'A31':1,'A32':2, 'A33':3,'A34':4}
train_df['CreditHistory'] = train_df['CreditHistory'].replace(credit_history_map)

saving_account_map = {'A61':0, 'A62':1, 'A63':2, 'A64':3, 'A65':4}
train_df['SavingsAccount'] = train_df['SavingsAccount'].replace(saving_account_map)

employment_since_map = {'A71':0,'A72':1,'A73':2,'A74':3, 'A75':4}
train_df['EmploymentSince'] = train_df['EmploymentSince'].replace(employment_since_map)

property_map = {'A121':0,'A122':1,'A123':2, 'A124':3}
train_df['Property'] = train_df['Property'].replace(property_map)

housing_map = {'A151':0,'A152':1,'A153':2}
train_df['Housing'] = train_df['Housing'].replace(housing_map)

personal_status_map = {'A91':"male",'A92':"female",'A93':"male",'A94':"male", 'A95':"female"}
train_df['PersonalStatus'] = train_df['PersonalStatus'].replace(personal_status_map)
dummies_plans = pd.get_dummies(train_df['PersonalStatus'],prefix='gender')
train_df = pd.merge(train_df,dummies_plans,left_index=True,right_index=True)
train_df = train_df.drop(columns='PersonalStatus')

ther_install_map = {'A141':"rent",'A142':"own",'A143':"for free "}
train_df['OtherInstallPlans'] = train_df['OtherInstallPlans'].replace(ther_install_map)
dummies_plans = pd.get_dummies(train_df['OtherInstallPlans'],prefix='housing ')
train_df = pd.merge(train_df,dummies_plans,left_index=True,right_index=True)
train_df = train_df.drop(columns='OtherInstallPlans')

train_df.head()

for col in test_df.select_dtypes('object'):
  print(col, test_df[col].unique())

account_status_map = {'A11':0,'A12':1,'A13':2,'A14':3}
test_df['AccountStatus'] = test_df['AccountStatus'].replace(account_status_map)

credit_history_map = {'A30':0,'A31':1,'A32':2, 'A33':3,'A34':4}
test_df['CreditHistory'] = test_df['CreditHistory'].replace(credit_history_map)

saving_account_map = {'A61':0, 'A62':1, 'A63':2, 'A64':3, 'A65':4}
test_df['SavingsAccount'] = test_df['SavingsAccount'].replace(saving_account_map)

employment_since_map = {'A71':0,'A72':1,'A73':2,'A74':3, 'A75':4}
test_df['EmploymentSince'] = test_df['EmploymentSince'].replace(employment_since_map)

property_map = {'A121':0,'A122':1,'A123':2, 'A124':3}
test_df['Property'] = test_df['Property'].replace(property_map)

housing_map = {'A151':0,'A152':1,'A153':2}
test_df['Housing'] = test_df['Housing'].replace(housing_map)

personal_status_map = {'A91':"male",'A92':"female",'A93':"male",'A94':"male", 'A95':"female"}
test_df['PersonalStatus'] = test_df['PersonalStatus'].replace(personal_status_map)
dummies_plans = pd.get_dummies(test_df['PersonalStatus'],prefix='gender')
test_df = pd.merge(test_df,dummies_plans,left_index=True,right_index=True)
test_df = test_df.drop(columns='PersonalStatus')

ther_install_map = {'A141':"rent",'A142':"own",'A143':"for free "}
test_df['OtherInstallPlans'] = test_df['OtherInstallPlans'].replace(ther_install_map)
dummies_plans = pd.get_dummies(test_df['OtherInstallPlans'],prefix='housing ')
test_df = pd.merge(test_df,dummies_plans,left_index=True,right_index=True)
test_df = test_df.drop(columns='OtherInstallPlans')

AccountStatus ['A14' 'A11' 'A12' 'A13']
CreditHistory ['A32' 'A34' 'A33' 'A31' 'A30']
SavingsAccount ['A65' 'A61' 'A62' 'A63' 'A64']
EmploymentSince ['A71' 'A73' 'A75' 'A74' 'A72']
PersonalStatus ['A93' 'A91' 'A92' 'A94']
Property ['A124' 'A121' 'A122' 'A123']
OtherInstallPlans ['A143' 'A141' 'A142']
Housing ['A152' 'A153' 'A151']
AccountStatus ['A12' 'A11' 'A13' 'A14']
CreditHistory ['A31' 'A34' 'A32' 'A30' 'A33']
SavingsAccount ['A64' 'A61' 'A65' 'A63' 'A62']
EmploymentSince ['A73' 'A71' 'A72' 'A75' 'A74']
PersonalStatus ['A93' 'A92' 'A91' 'A94']
Property ['A123' 'A121' 'A124' 'A122']
OtherInstallPlans ['A142' 'A143' 'A141']
Housing ['A152' 'A151' nan 'A153']

   AccountStatus  Duration  ...  housing _own  housing _rent
0              1        30  ...             1              0
1              0        12  ...             0              0
2              1        20  ...             0              0
3              2        36  ...             0              0
4              3        18  ...             0              0

[5 rows x 16 columns]

# 7) Build a k-NN classifier on training data and perform models selection using 5 fold cross validation

*  Initialize k-NN classifiers with **k= 5, 10, 15**
*  Calculate the cross validation scores using cross_al_score method, number of folds is 5. 
*  Note: Xval is performed on training data! Do not use test data in any way and do not separate a hold-out validation set, rather use cross-validation.

Documentation of the cross_val_score method:

[https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn.model_selection.cross_val_score](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn.model_selection.cross_val_score)

*  Stores the average accuracies of these folds
*  Select the value of k using the cross validation results.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from statistics import mean

# k values
kVals = [5,10,15]

# Save the accuracies of each value of kVal in [accuracies] variable
accuracies = []

# Loop over values of k for the k-Nearest Neighbor classifier
for k in kVals:
  # Initialize a k-NN classifier with k neighbors
  knn = KNeighborsClassifier(n_neighbors=k)
  score = cross_val_score(knn, train_df, train_label, cv=5)
  accuracies.append(mean(score))

  # Calculate the 5 fold cross validation scores using cross_val_score
  # cv parameter: number of folds, in our case it must be 5
  

  # Stores the average accuracies of the scores in accuracies variable, you can use mean method


print(accuracies)

[0.68, 0.7075, 0.71]

# 8) Retrain using all training data and test on test set

* Train a classifier with the chosen k value of the best classifier using **all training data**. 

Note:  k-NN training involves no explicit training, but this is what we would do after model selection with decision trees or any other ML approach (we had 5 diff. models -one for each fold - for each k in the previous step - dont know which one to submit. Even if we picked the best one, it does not use all training samples.

* Predict the labels of testing data 

* Report the accuracy

In [ ]:
from sklearn.metrics import accuracy_score

# Train the best classifier using all training set
knn = KNeighborsClassifier(n_neighbors=15)
knn.fit(train_df, train_label)

preds = knn.predict(test_df)

# Print accuracy of test data
accuracies = accuracy_score(test_label, preds)
print(accuracies)

0.665